<div class="logo-section">
  <h1>SLMS</h1>
  <p>Smart Learning Management System</p>
</div>

<nav class="menu">

  <a routerLink="/" class="menu-item active">
    📊 Dashboard
  </a>

  <a routerLink="/courses" class="menu-item">
    📚 Courses
  </a>

  <a routerLink="/enrollment" class="menu-item">
    📝 Enrollment
  </a>

  <a routerLink="/progress" class="menu-item">
    📈 Progress
  </a>

  <a routerLink="/certificates" class="menu-item">
    🏆 Certificates
  </a>

  <a routerLink="/reports" class="menu-item">
    📄 Reports
  </a>

</nav>

<div class="quote-card">
  <p>
    The meaning of life is to find your gift.
    The purpose of life is to give it away.
  </p>

  <span>— Pablo Picasso</span>
</div>

<button class="logout-btn">
  Logout
</button>