.enrollment-container{
  padding:40px;
  font-family:Georgia, serif;
}

.enrollment-container h1{
  margin-bottom:25px;
  color:#2d2424;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 8px 25px rgba(0,0,0,0.05);
}

th{
  background:#dcecf3;
  color:#2d2424;
  padding:18px;
  text-align:left;
}

td{
  padding:18px;
  border-bottom:1px solid #eeeeee;
}

tr:hover{
  background:#f9fcfd;
}